services:
  db:
    image: postgres:16.11-alpine
    container_name: movie_db
    ports:
      - 5432:5432
    environment:
      - POSTGRES_PASSWORD=movie_123
    volumes:
      - movie-db-data:/var/lib/postgresql/data

  api:
    build: .
    container_name: movie_api
    ports:
      - 3000:3000
    depends_on:
      - db
    environment:
      PORT: "3000"
      # we don't need to enable sslmode for local work
      DB_DSN: "postgres://postgres:movie_123@db:5432/postgres?sslmode=disable"

volumes:
  movie-db-data:
